body{
    background-color:#fff;
}
.sticky{
    position: sticky;
    top: 0;
    background-color: white; 
    z-index: 100; 
    box-shadow: 0 3px rgb(171, 170, 170);
   
}
.nav{
    margin-top: 40px;
}
.icons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
   
}
.icon-bar{
    text-align: end;
    display: flex;
    justify-content: end;
}
.icon-bar a{
    margin: 10px;
}
.hero-container{
    margin-top: 15%;
}
.title{
       color: #2b5cda;
        text-shadow: 0 3px 2px rgba(0, 0, 0, .2);
        font-family: Orbitron, sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 75p
}

.para{
    width: auto;
    max-width: 100%;
    min-width: 0%;
    margin-bottom: 0;
    font-family: Inconsolata, monospace;
    font-size: 22px;
    color:rgba(107, 107, 107, .89);
} 
.smallpara{
    color:rgba(107, 107, 107, .89);
    font-size: 20px;
}
.main1{
    /* margin-top: 40px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    
}
.main1-img{
    /* width: 30vw;
    height: 30vw; */
    border: 1px #000;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
   
}

 .content1{
    width: 50vw;
    max-width: 550px;
    background-color: rgba(61, 69, 86, 0);
    border: 1px #3d4556;
    border-radius: 18px;
    flex: none;
   /* margin: 20px; */
}
.heading{
    width: auto;
    color: #2b5cda;
    letter-spacing: 2px;
    text-transform: none;
    border-bottom: 1px #2e2e2e;
    margin-bottom: 24px;
    padding-bottom: 7px;
    font-family: Orbitron, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 120%;
    display: block;
}
.main1-para{
    width: auto;
    margin-bottom: 0;
    font-family: Inconsolata, monospace;
    color: #6b6b6b;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 30px;
}
.main2{
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    width: 100%;
    height: auto;
    padding-top:50px;
    margin-top: 60px;
}
.main2-para{
    max-width: 100%;
    font-family: Inconsolata, monospace;
    color: #6b6b6b;
    font-size: 16px;
    line-height: 30px;
}
.btn-row{
    text-align: center;
    width: auto;
    justify-content: center;
    margin-top: 22vh;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}
.button{
color: #fff;
    text-align: center;
    background-color: #2b5cda;
    border-radius: 17px;
    margin: 25px 14px 14px;
    padding: 20px 57px;
    font-family: Orbitron, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    display: inline-block;
    text-decoration: none;
}
.button.docsbtn {
    color: #3d4556;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #3d4556;
}
.button:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 5px rgb(83, 80, 80);
    text-decoration: none;
}
.coloured{
    background-image: linear-gradient(#fff, rgba(43, 92, 218, .28),#fff);    
}
.logo{
    margin-top: 40px;
    text-align: center;
}
.logo p{
      margin-top: 40px;
      font-size:24px;
}
.img{
    background-color:white;
    border-radius: 40px;
    margin:0px 190px;
    margin-top: 70px;
}
.footer{
    margin-top: 98px;
}
.img1{
    margin:10px;
    background-color: white;

}
.heading-last{
color: #2b5cda;
    /* padding: 0 20px; */
    font-family: Inconsolata, monospace;
    font-size: 20px;
    font-weight: 400;
    overflow: visible;
    line-height: 48px;
    margin-top: 60px;
}
.text{
    color: #838383;
    padding-bottom: 60px;
    font-family: Inconsolata, monospace;
    font-size: 13px;
    
}